# -- force NOT to ignore --
!/plugins/.gitkeep
! */.gitkeep

# -- folders to ignore/exclude --
plugins/
save/
logs/
raycast/
gh/
htop/
bat/
.zsh_sessions/

# -- files to ignore --
.zsh_*
.zcompdump*
.zsh_history
*.log
*.timestamp
*.zip
.brew_env
*
!.gitignore
